<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kitchen Ninja-Categories</title>
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-agency/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static "css/FirstPageCSS.css" %}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:#000000;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Kitchen Ninja</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="FirstPage.html#how">How to Use</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="FirstPage.html#portfolio">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="FirstPage.html#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="FirstPage.html#contact">Forum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    
    <!-- Category Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Categories</h2>
                    <h3 class="section-subheading text-muted">Choose recipes category wise.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=chicken-recipes" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/chicken-recipes.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Chicken Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=breads-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/bread-recipes.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Breads Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=healthy-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/healthy.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Healthy Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=back-to-basics-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/backtobasics.jpeg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Back to Basics Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=seafood-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/seafood.jpeg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Seafood Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=indian-desserts-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/indian-sweets.png' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Indian Desserts Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=low-fat-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/low-fat.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Low Fat Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=pasta-and-noodles-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/pasta-noodles.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pasta-Noodles Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=beverages-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/beverages.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Beverages Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=meat-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/meat.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Meat Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=indian-breads-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/indian-breads.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Indian Breads Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=eggs-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/eggs.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Eggs Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=rice-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/rice.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rice Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=desserts-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/deserts.jpeg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Desserts Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=quick-and-easy-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/quick.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Quick and Easy Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=snacks-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/snacks.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Snacks-recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=kids-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/kids.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Kids Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=vegetarian-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/vegetarian.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vegetarian Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=soup-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/soup.jpeg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Soup Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=accompaniments-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/side-dish.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Accompaniments Recipes</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/categoryresult?name=salads-recipes" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'Images/salad.jpg' %}" style="height:200px;width:300px;" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Salads Recipes</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <!-- <script src="jqBootstrapValidation.js"></script> -->
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Theme JavaScript -->
    <script src="{% static "js/FirstPageJS.js" %}"></script>

</body>

</html>